<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/_mainLayout}">
<head>
    <title th:action="'Mantenimiento de Venta - '+ ${action}">Mantenimiento</title>
    <link rel="stylesheet" th:href="@{/assets/css/sb-admin-2.min.css}">
</head>
<body>
    <div layout:fragment="content" class="container mt-4">
       <h2 th:action="'Venta - '+ ${action}">Ventas</h2>

<form th:action="@{'/ventas/' + ${action}}" th:object="${venta}" method="post">
    <input type="hidden" th:field="*{id}">
    
    <input type="hidden" th:field="*{estado}" th:value="${venta.estado.ordinal}" />
    
    <!-- Tabla de detalles de la venta -->
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="detalle, stat : ${venta.detalles}">
                <td th:text="${detalle.producto.nombre}">Producto</td>
                <td th:text="${detalle.cantidad}">Cantidad</td>
                <td th:text="${'$' + #numbers.formatDecimal(detalle.precioUnitario, 1, 2)}">Precio</td>
                <td th:text="${'$' + #numbers.formatDecimal(detalle.subtotal, 1, 2)}">Subtotal</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right"><strong>Total:</strong></td>
                <td th:text="${'$' + #numbers.formatDecimal(venta.total, 1, 2)}">Total</td>
            </tr>
        </tfoot>
    </table>
</div>

    </div>
</body>
</html>